template
  layout-basic
    #app
      .container
        .row.justify-content-md-center
          b-col(sm='7')
            .card
              // CABEÇALHO COM INFO DO USER
              .prof-header
                img.prof-img-user(:src='user_img')
                div
                  h4.user-name
                    b {{user_name}}
                  p.user-name
                    b
                      i.fas.fa-at
                      |  {{user_username}}
                  p.user-name
                    b
                      i.fas.fa-map-marker-alt
                      |  {{user_location}}
                  p.user-name
                    b
                      i.fas.fa-star(v-for='index in user_stars')
                      i.far.fa-star(v-for='index in (5-user_stars)')
              // POSTS, SEGUIDORES E A SEGUIR
              b-row(style='padding-top: 20px')
                b-col
                  b.small-txt-header  {{ products.length | numeral('0.[0]a') }} 
                  br
                  p.small-txt PUBLICAÇÕES
                b-col
                  b.small-txt-header  {{ seguidores | numeral('0.[0]a') }} 
                  br
                  p.small-txt SEGUIDORES
                b-col
                  b.small-txt-header  {{ a_seguir | numeral('0.[0]a') }} 
                  br
                  p.small-txt A SEGUIR
          // POSTS DO USER
          b-col(sm='10', style='text-align: left !important;')
            .prof-container.prof-post(v-for='product in products')
              a(:href="'/post/'+product.id")
                img.prof-img-post(:src='product.imgs[0]')
script.
  import router from "../../router"
  import LayoutBasic from "../layouts/BottomBar.pug"
  export default {
  name: 'Profile',
  components: {
  LayoutBasic,
  },
  data () {
  return {
  user_username: this.$router.currentRoute.params.username,
  user_img: 'https://i.imgur.com/KMlWJNv.jpg',
  user_name: 'Vitor Peixoto',
  user_location: 'Braga, Portugal',
  user_stars: 4,
  publicacoes: 4,
  seguidores: 12786,
  a_seguir: 543,
  like: 0,
  dislike: 0,
  saved: 0,
  post_id: 2123,
  page: 0,
  products: [
  {
  id: 104,
  timestamp: '2019-11-10T16:15:22',
  user: 'joao_castro_12',
  user_img: 'https://i.dailymail.co.uk/i/pix/2017/04/20/13/3F6B966D00000578-4428630-image-m-80_1492690622006.jpg',
  name: 'Botas fixes',
  description: "Estas botas são mesmo fixes. Acho que as devias comprar ;)",
  price: 45.90,
  size: '40',
  color: 'Castanho',
  sex: 'Homem',
  manufacturer: 'Timberland',
  imgs: [
  "https://onpointfresh.com/wp-content/uploads/2016/11/street-style-men-boots-1.jpg"
  ],
  likes: 123,
  comments: [
  {
  user: 'rosameireles_',
  user_img: 'https://engineering.unl.edu/images/staff/Kayla_Person-small.jpg',
  timestamp: '2019-11-10T16:28:22',
  text: 'Já comprei ao @joao_castro_12 e fiquei satisfeita com o serviço!'
  },
  {
  user: 'yee',
  user_img: 'https://img.estadao.com.br/thumbs/640/resources/jpg/7/8/1524230513387.jpg',
  timestamp: '2019-11-10T16:23:22',
  text: 'Vai mas é trabalhar gandulo.'
  },
  {
  user: 'tiagomcosta',
  user_img: 'https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80',
  timestamp: '2019-11-10T16:18:22',
  text: 'Tenho umas iguais e adoro!'
  },
  {
  user: 'rosameireles_',
  user_img: 'https://engineering.unl.edu/images/staff/Kayla_Person-small.jpg',
  timestamp: '2019-11-10T16:28:22',
  text: 'Já comprei ao @joao_castro_12 e fiquei satisfeita com o serviço!'
  },
  {
  user: 'yee',
  user_img: 'https://img.estadao.com.br/thumbs/640/resources/jpg/7/8/1524230513387.jpg',
  timestamp: '2019-11-10T16:23:22',
  text: 'Vai mas é trabalhar gandulo.'
  },
  {
  user: 'tiagomcosta',
  user_img: 'https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80',
  timestamp: '2019-11-10T16:18:22',
  text: 'Tenho umas iguais e adoro!'
  },
  {
  user: 'rosameireles_',
  user_img: 'https://engineering.unl.edu/images/staff/Kayla_Person-small.jpg',
  timestamp: '2019-11-10T16:28:22',
  text: 'Já comprei ao @joao_castro_12 e fiquei satisfeita com o serviço!'
  },
  {
  user: 'yee',
  user_img: 'https://img.estadao.com.br/thumbs/640/resources/jpg/7/8/1524230513387.jpg',
  timestamp: '2019-11-10T16:23:22',
  text: 'Vai mas é trabalhar gandulo.'
  },
  {
  user: 'tiagomcosta',
  user_img: 'https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80',
  timestamp: '2019-11-10T16:18:22',
  text: 'Tenho umas iguais e adoro!'
  },
  {
  user: 'rosameireles_',
  user_img: 'https://engineering.unl.edu/images/staff/Kayla_Person-small.jpg',
  timestamp: '2019-11-10T16:28:22',
  text: 'Já comprei ao @joao_castro_12 e fiquei satisfeita com o serviço!'
  },
  {
  user: 'yee',
  user_img: 'https://img.estadao.com.br/thumbs/640/resources/jpg/7/8/1524230513387.jpg',
  timestamp: '2019-11-10T16:23:22',
  text: 'Vai mas é trabalhar gandulo.'
  },
  {
  user: 'tiagomcosta',
  user_img: 'https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80',
  timestamp: '2019-11-10T16:18:22',
  text: 'Tenho umas iguais e adoro!'
  },
  {
  user: 'yee',
  user_img: 'https://img.estadao.com.br/thumbs/640/resources/jpg/7/8/1524230513387.jpg',
  timestamp: '2019-11-10T16:23:22',
  text: 'Vai mas é trabalhar gandulo.'
  }
  ]
  },
  {
  id: 105,
  timestamp: '2019-11-06T10:09:42',
  user: 'joanavintageoutlet',
  user_img: 'https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80',
  name: 'Lacy shirt vintage',
  description: "Esta camisa vintage vai assentar que nem uma luva no teu armário.",
  price: 10,
  size: 'M',
  color: 'Branco',
  manufacturer: null,
  sex: 'Mulher',
  imgs: [
  "https://i.imgur.com/hs5b0fc.png",
  "https://i.imgur.com/uSbOYV8.png"
  ],
  likes: 2321,
  comments: [
  {
  user: 'rosameireles_',
  user_img: 'https://engineering.unl.edu/images/staff/Kayla_Person-small.jpg',
  timestamp: '2019-11-07T10:29:23',
  text: 'Muito bonitas as camisolas Joana!'
  },
  {
  user: 'tiagomcosta',
  user_img: 'https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80',
  timestamp: '2019-11-06T16:18:22',
  text: 'Meh...'
  }
  ]
  },
  {
  id: 106,
  timestamp: '2019-11-02T19:15:42',
  user: 'beavila_shoestore',
  user_img: 'https://i.imgur.com/B7aj5H7.png',
  name: 'Botins festivos',
  description: "Preparada para a época de festivais? No teu outfit não podem faltar estes botins.",
  price: 29.90,
  size: '38',
  color: 'Castanho',
  sex: 'Mulher',
  manufacturer: 'PROF',
  imgs: [
  "https://joanavaz.pt/wp-content/uploads/2017/04/IMG_9317-1024x683.jpg",
  "https://joanavaz.pt/wp-content/uploads/2017/04/IMG_9318-690x455.jpg"
  ],
  likes: 1489,
  comments: [
  {
  user: 'tatianamendess',
  user_img: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBPBZloSuY-6XVhbBX7xROuv2n8OZGLmFQwFtSqFBxX87mWyRN&s',
  timestamp: '2019-11-03T16:23:22',
  text: 'Mal posso esperar por as levar ao Alive!'
  },
  {
  user: 'rita_cunhaa',
  user_img: 'https://making-the-web.com/sites/default/files/clipart/157025/happy-person-picture-157025-4275865.jpg',
  timestamp: '2019-11-02T19:28:22',
  text: 'Que giras!!!'
  },
  {
  user: 'rosa_almeida__',
  user_img: 'https://portalovertube.com/wp-content/uploads/2019/02/Amy.jpg',
  timestamp: '2019-11-02T119:18:52',
  text: 'Se fossem mais altas...'
  },
  ]
  },
  {
  id: 107,
  timestamp: '2019-10-20T21:55:12',
  user: 'tiagorodri',
  user_img: 'https://images.unsplash.com/photo-1536548665027-b96d34a005ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80',
  name: 'Calças desporto',
  description: "Estas calças são mesmo fixes e confortáveis. As melhores do mercado.",
  price: 9.90,
  size: 'L',
  color: 'Preto',
  sex: 'Homem',
  manufacturer: 'Hummel',
  imgs: [
  "https://cdn.hummel.net/Admin/Public/GetImage.ashx?Width=500&Heigh=500&Compression=85&Crop=5&Image=/Files/Images/Perfion/c4a8bb97-17b9-4c23-a2d7-07ea40747b99.jpg"
  ],
  likes: 431,
  comments: [
  {
  user: 'tiagomcosta',
  user_img: 'https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80',
  timestamp: '2019-10-22T16:18:22',
  text: 'Se tivesse o fato de treino completo até comprava.'
  }
  ]
  }
  ],
  showbanner: 1,
  window: {
  width: 0,
  height: 0
  },
  shownmodal: null,
  shownmodalposition: null
  }
  },
  created: function() {
  axios.get('http://infernoo.duckdns.org:8000/v1/post/feed?page='+this.page,{
  headers: {'Authorization': "bearer " + localStorage.getItem('a_token')}
  })
  .then(response => {
  this.products = response.data
  })
  .catch(e => {
  console.log(e)
  })
  window.addEventListener('resize', this.handleResize)
  this.handleResize();
  },
  mounted: function() {
  },
  methods: {
  isMobile() {
  if(/Android|WebOS|iPhone|iPad|Blackberry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
  return true
  } else{
  return false
  }
  },
  showmodal(productid){
  this.$modal.show('post');
  },
  setmodal(productid){
  this.shownmodal= productid;
  var i = 0;
  while (i<this.products.length){
  if(this.products[i].id==productid)
  this.shownmodalposition = i;
  i++;
  }
  },
  isMobile() {
  if(/Android|WebOS|iPhone|iPad|Blackberry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
  return true
  } else{
  return false
  }
  },
  //todos estes métodos são apenas para teste. Trocar depois pelo acesso à BD.
  getlike(post_id){
  return this.like;
  },
  getdislike(post_id){
  return this.dislike;
  },
  getsave(post_id){
  return this.saved;
  },
  givelike(post_id){
  if(this.like==0){
  this.like=1;
  if(this.dislike==1)
  this.likes=this.likes+2;
  else this.likes=this.likes+1;
  this.dislike=0;
  }
  },
  giveliketouch(post_id){
  this.givelike(post_id);
  //inserir coraçao na imagem, como no insta :)
  },
  remvlike(post_id){
  this.like=0;
  this.likes=this.likes-1;
  },
  givedislike(post_id){
  this.dislike=1;
  if(this.like==1)
  this.likes=this.likes-2;
  else this.likes=this.likes-1;
  this.like=0;
  },
  remvdislike(post_id){
  this.dislike=0;
  this.likes=this.likes+1;
  },
  savepost(post_id){
  this.saved=1;
  },
  unsavepost(post_id){
  this.saved=0;
  }
  }
  }
style.
  .small-txt{
  font-size: 13px;
  letter-spacing: 2px;
  }
  .small-txt-header{
  font-size: 20px;
  }
  .prof-header{
  margin:auto !important;
  width: 95% !important;
  text-align: left;
  display: flex;
  }
  .prof-img-user{
  width: 130px !important;
  min-width: 130px !important;
  height: 130px !important;
  border-radius: 20px !important;
  object-fit: cover;
  margin-right: 10px;
  box-shadow: 0px 11px 32px -9px rgba(0,0,0,0.3);
  }
  .prof-img-post{
  border-radius: 20px !important;
  object-fit: cover;
  height: 100% !important;
  box-shadow: 0px 11px 32px -9px rgba(0,0,0,0.3);
  }
  .prof-post{
  display:inline-flex;
  width: 31% !important;
  min-width: 31% !important;
  height: auto !important;
  margin: 1%;
  border-radius: 10% !important;
  object-fit: cover;
  }
  .user-name{
  margin:5px 0px 0px 10px;
  }
  .prof-container {
  position: relative;
  width: 37%;
  }
  .prof-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  }
  .prof-container img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  }
  .comment{
  width:100%;
  padding: 8px 10px 8px 15px;
  border-radius:20px !important;
  background-color: #EEE !important;
  color: #000 !important;
  }
  .toggle-description{
  padding: 0px 10px 0px 10px;
  }
  .details-post{
  font-size:14px;
  margin:0px !important;
  }
  .carousel-indicators li {
  width: 5px !important;
  height: 5px !important;
  border-radius: 5px !important;
  }
  .carousel#carousel1 {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 11px 32px -9px rgba(0,0,0,0.25);
  }
  .post-list{
  text-align: center !important;
  }
  .v--modal-box {
  border-radius: 20px !important;
  padding: 0px !important;
  }
  .card-op-area{
  text-align: left;
  width:auto !important;
  margin: 0px 0px 15px 10px;
  display: inline-block;
  }
  .my-comment{
  text-align: left;
  width:auto !important;
  margin: 0px 0px 15px 10px;
  display: flex !important;
  }
  .view-comments{
  text-align: center;
  width:auto !important;
  margin: 0px 0px 0px 10px;
  display: flex !important;
  }
  .card-options-area{
  text-align: right;
  width:auto !important;
  margin: 5px 10px 15px 0px;
  display: inline-block;
  float: right;
  }
  .img-user{
  width: 40px !important;
  min-width: 40px !important;
  height: 40px !important;
  border-radius: 50px !important;
  object-fit: cover;
  margin-right: 10px;
  }
  .txt-username{
  margin: 3px;
  font-size: 15px;
  color: #333 !important;
  }
  .txt-tmstmp{
  color: #666 !important;
  cursor: default;
  }
  .card{
  border-radius:20px !important;
  border: 0px !important;
  }
  .card-download-app{
  background-color: #FFF !important;
  top: 0px !important;
  position: fixed !important;
  margin-top: 90px;
  text-align: center !important;
  width: 330px;
  height: 530px;
  -webkit-box-shadow: 0px 11px 32px -9px rgba(28,64,222,0.25);
  -moz-box-shadow: 0px 11px 32px -9px rgba(28,64,222,0.25);
  box-shadow: 0px 11px 32px -9px rgba(28,64,222,0.25);
  }
  .btn-download{
  margin-top: 5px;
  border-radius:30px !important;
  color: #FFF !important;
  background: rgb(100,49,252);
  background: linear-gradient(90deg, rgba(100,49,252,1) 0%, rgba(58,104,252,1) 100%);
  text-transform: uppercase;
  font-size: 14px !important;
  letter-spacing: 3px;
  text-decoration: none !important;
  transition: 0.3s;
  }
  .btn-download:hover,
  .btn-download:focus{
  box-shadow: 0 0.2em 1em -0.3em rgba(100,49,252,0.9);
  transform: translateY(-0.2em);
  transition: 0.3s;
  }
  .btn-mini{
  position: absolute;
  top: 10px;
  right: 10px;
  width:35px !important;
  height: 35px !important;
  background-color:rgba(0,0,0,0.08) !important;
  border-radius: 35px !important;
  z-index: 99 !important;
  margin: 0px !important;
  padding: 0px !important;
  }
  .card-img-caixa{
  position: relative;
  top:0;
  left:0;
  }
  .card-img-blur {
  position: relative;
  top:5px;
  left:0;
  border-radius: 20px !important;
  filter: blur(13px);
  opacity: 0.6;
  }
  .card-img-front {
  position: absolute;
  top:0px;
  left:0px;
  width: 100% !important;
  border-radius: 20px !important;
  }
  .card-body{
  padding: 2px 10px 20px 10px !important;
  text-align: left;
  }
  .reactions-area,
  .description-area,
  .user-area,
  .comment-area{
  margin-top: 5px !important;
  width:100%;
  text-align:left;
  }
  .reaction-left-area{
  text-align:left;
  width: 50%;
  height: 42px;
  display: inline-block;
  }
  .reaction-right-area{
  text-align:right;
  width: 50%;
  height: 42px;
  display: inline-block;
  }
  .icon-reaction {
  display: inline-block !important;
  background-color: #333 !important;
  background: #333 !important;
  mask-size: cover;
  cursor: pointer;
  margin: 10px !important;
  width: 25px !important;
  height: 22px !important;
  transition: 0.3s !important;
  }
  .icon-like-empty {
  mask: url(https://svgur.com/i/G0S.svg);
  transition: 0.3s !important;
  }
  .icon-like-empty:hover{
  background-color: #F40056 !important;
  transition: 0.3s !important;
  }
  .icon-like-full {
  background-color: #F40056 !important;
  mask: url(https://svgur.com/i/FzP.svg);
  transition: 0.3s !important;
  }
  .icon-dislike-empty {
  mask: url(https://svgur.com/i/Fzt.svg);
  transition: 0.3s !important;
  }
  .icon-dislike-empty:hover{
  background-color: #4A53FC !important;
  transition: 0.3s !important;
  }
  .icon-dislike-full {
  background-color: #4A53FC !important;
  mask: url(https://svgur.com/i/G0c.svg);
  transition: 0.3s !important;
  }
  .icon-save-empty {
  mask: url(https://svgur.com/i/G1_.svg);
  transition: 0.3s !important;
  width: 21px !important;
  height: 23px !important;
  }
  .icon-save-empty:hover{
  background-color: #4A53FC !important;
  transition: 0.3s !important;
  }
  .icon-save-full{
  mask: url(https://svgur.com/i/G28.svg);
  background-color: #333 !important;
  width: 21px !important;
  height: 23px !important;
  transition: 0.3s !important;
  }
  .icon-buy-empty {
  mask: url(https://svgur.com/i/G4_.svg);
  transition: 0.3s !important;
  width: 22px !important;
  height: 24px !important;
  }
  .icon-buy-empty:hover{
  background-color: #4A53FC !important;
  transition: 0.3s !important;
  }
  .icon-send {
  mask: url(https://svgur.com/i/G92.svg);
  transition: 0.3s !important;
  width: 23px !important;
  height: 25px !important;
  margin: 7px !important;
  }
  .comment-input{
  margin: 0px 10px 0px 0px;
  border-radius: 20px !important;
  background-color: #EEE !important;
  border: 0px !important;
  color: #000 !important;
  transition: 0.1s !important;
  }
  .bg-trans{
  background-color: rgba(0,0,0,0) !important;
  text-align: center;
  }
  .bg-trans:hover{
  background-color:rgba(0,0,0,0.08) !important;
  color: #000 !important;
  }
  button:focus{
  outline: 0px !important;
  }
