doctype html
html
	head
		title= title
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
		style.
			.btn-white{
				margin-top: 16px;
				border-radius:30px !important;
				color: #000000 !important;
				background: rgb(180,180,180);
				background: linear-gradient(90deg, rgba(170,170,170,1) 0%, rgba(190,190,190,1) 100%);
				text-transform: uppercase;
				font-size: 12px !important;
				letter-spacing: 2.5px;
				text-decoration: none !important;
				transition: 0.3s;
				border-color: rgb(180,180,180) !important;
			}
			.btn-white:hover,
			.btn-white:focus{
				box-shadow: 0 0.2em 1em -0.3em rgba(180,180,180,0.9);
				transform: translateY(-0.2em);
				transition: 0.3s;
			}
	body
		form(method="POST" action="/search")
			input(type="text" placeholder="Search..." name="usernameString" required)
			input(type="submit" value="Search")
		p
			a(href="/myprofile") Profile
		p
			a(href="/") Feed
		p
			a(href="/logout") Logout

		p 
			strong Seguidores
		.w3-container 
			ul.w3-ul.w3-card-4(style="width:50%; margin:auto; overflow:auto; max-height:700px;")
				each user in data	
					li.w3-bar 
						span.w3-bar-item.w3-button.w3-white.w3-xlarge.w3-right.button.btn.btn-primary.btn-white 
							a(href="/profile?username="+user.follower_id style="text-decoration: none;") VER PERFIL
						img.w3-bar-item.w3-circle.w3-hide-small(src=user.avatarData style="width: 100px; height: 100px; padding-top: 0px; padding-left:0px; padding-right:0px; padding-bottom: 0px;") 
						.w3-bar-item
							span.w3-large= user.follower_id
							br
							span(style="color: gray;") #{user.firstName} #{user.lastName}