doctype html
html
	head
		title Wanna - Inspiração
		include header.pug
		link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css")
		style.
			form{
				display:inherit;
				padding:5px;
				vertical-align:middle;
			}
			.comment{
				width:100%;
				padding: 8px 10px 8px 15px;
				border-radius:20px !important;
				background-color: #EEE !important;
				color: #000 !important;
			}
			.toggle-description{
				padding: 0px 10px 0px 10px;
			}
			.details-post{
				font-size:14px;
				margin:0px !important;
			}
			.carousel-indicators li {
				width: 5px !important;
				height: 5px !important;
				border-radius: 5px !important;
			}
			.carousel#carousel1 {
				border-radius: 20px;
				overflow: hidden;
				box-shadow: 0px 11px 32px -9px rgba(0,0,0,0.25);
			}
			.post-list{
				text-align: center !important;
			}
			.v--modal-box {
				border-radius: 20px !important; 
				padding: 0px !important;
			}
			.card-op-area{
				text-align: left;
				width:auto !important;
				margin: 0px 0px 15px 10px;
				display: inline-block;
			}
			.my-comment{
				text-align: left;
				width:auto !important;
				margin: 0px 0px 0px 10px;
				display: flex !important;
			}
			.view-comments{
				text-align: center;
				width:auto !important;
				margin: 0px 0px 0px 10px;
				display: flex !important;
			}
			.card-options-area{
				text-align: right;
				width:auto !important;
				margin: 5px 10px 15px 0px;
				display: inline-block;
				float: right;
			}
			.img-user{
				width: 40px !important;
				min-width: 40px !important;
				height: 40px !important;
				border-radius: 50px !important;
				object-fit: cover;
				margin-right: 10px;
			}
			.txt-username{
				margin: 3px;
				font-size: 15px;
				color: #333 !important;
			}
			.txt-tmstmp{
				color: #666 !important;
				cursor: default;
			}
			.card{
				border-radius:20px !important;
				border: 0px !important;
			}
			.card-download-app{
				background-color: #FFF !important;
				top: 0px !important;
				position: fixed !important;
				margin-top: 90px;
				text-align: center !important;
				width: 330px;
				height: 530px;
				-webkit-box-shadow: 0px 11px 32px -9px rgba(28,64,222,0.25);
				-moz-box-shadow: 0px 11px 32px -9px rgba(28,64,222,0.25);
				box-shadow: 0px 11px 32px -9px rgba(28,64,222,0.25);
			}
			.btn-download{
				margin-top: 5px;
				border-radius:30px !important;
				color: #FFF !important;
				background: rgb(100,49,252);
				background: linear-gradient(90deg, rgba(100,49,252,1) 0%, rgba(58,104,252,1) 100%);
				text-transform: uppercase;
				font-size: 14px !important;
				letter-spacing: 3px;
				text-decoration: none !important;
				transition: 0.3s;
			}
			.btn-download:hover,
			.btn-download:focus{
				box-shadow: 0 0.2em 1em -0.3em rgba(100,49,252,0.9);
				transform: translateY(-0.2em);
				transition: 0.3s;
			}
			.btn-mini{
				position: absolute;
				top: 10px;
				right: 10px;
				width:35px !important;
				height: 35px !important;
				background-color:rgba(0,0,0,0.08) !important;
				border-radius: 35px !important;
				z-index: 99 !important;
				margin: 0px !important;
				padding: 0px !important;
			}
			.card-img-caixa{
				position: relative;
				top:0;
				left:0;
			}
			.card-img-blur {
				position: relative;
				top:5px;
				left:0;
				border-radius: 20px !important;
				filter: blur(13px);
				opacity: 0.6;
			}
			.card-img-front {
				position: absolute;
				top:0px;
				left:0px;
				width: 100% !important;
				border-radius: 20px !important;
			}
			.card-body{
				padding: 2px 10px 20px 10px !important;
				text-align: left;
			}
			.reactions-area{
				margin-top: 15px !important;
				width:100%;
				text-align:left;
			}
			.description-area,
			.user-area,
			.comment-area{
				margin-top: 5px !important;
				width:100%;
				text-align:left;
			}
			.reaction-left-area{
				text-align:left;
				width: 50%;
				height: 42px;
				display: inline-block;
			}
			.reaction-right-area{
				text-align:right;
				width: 50%;
				height: 42px;
				display: inline-block;
			}
			.icon-reaction {
				display: inline-block !important;
				background-color: #333 !important;
				background: #333 !important;
				mask-size: cover;
				cursor: pointer;
				margin: 10px !important;
				width: 25px !important;
				height: 22px !important;
				transition: 0.3s !important;
			}
			.icon-like-empty {
				mask: url('./img/icns/like.svg');
				transition: 0.3s !important;
			}
			.icon-like-empty:hover{
				background-color: #F40056 !important;
				transition: 0.3s !important;
			}
			.icon-like-full {
				background-color: #F40056 !important;
				mask: url('./img/icns/like-full.svg');
				transition: 0.3s !important;
			}
			.icon-dislike-empty {
				mask: url('./img/icns/dislike.svg');
				transition: 0.3s !important;
			}
			.icon-dislike-empty:hover{
				background-color: #4A53FC !important;
				transition: 0.3s !important;
			}
			.icon-dislike-full {
				background-color: #4A53FC !important;
				mask: url('./img/icns/dislike-full.svg');
				transition: 0.3s !important;
			}

			.icon-save-empty {
				mask: url('./img/icns/save.svg');
				transition: 0.3s !important;
				width: 21px !important;
				height: 23px !important;
			}
			.icon-save-empty:hover{
				background-color: #4A53FC !important;
				transition: 0.3s !important;
			}
			.icon-save-full{
				mask: url('./img/icns/save-full.svg');
				background-color: #333 !important;
				width: 21px !important;
				height: 23px !important;
				transition: 0.3s !important;
			}
			.icon-buy-empty {
				mask: url('./img/icns/buy.svg');
				transition: 0.3s !important;
				width: 22px !important;
				height: 24px !important;
			}
			.icon-buy-empty:hover{
				background-color: #4A53FC !important;
				transition: 0.3s !important;
			}
			.icon-send {
				mask: url('./img/icns/direct.svg');
				transition: 0.3s !important;
				width: 23px !important;
				height: 25px !important;
				margin: 7px !important;
			}
			.comment-input{
				margin: 0px 10px 0px 0px;
				border-radius: 20px !important;
				background-color: #EEE !important;
				border: 0px !important;
				color: #000 !important;
				transition: 0.1s !important;
			}
			.bg-trans{
				background-color: rgb(74, 83, 252) !important;
				text-align: center;
			}
			.bg-trans:hover{
				background-color:rgba(0,0,0,0.08) !important;
				color: #000 !important;
			}
			button:focus{
				outline: 0px !important;
			}
	body
		#app
			.container
				.row
					each post in data
						div.col-sm-8(id=post.id)
							.card
								.user-area
									.card-op-area
										a(href='/profile?username='+post.idUser)
											img.img-user(src=post.avatarData)
										a.txt-username(href='/profile?username='+post.idUser)
											b= post.idUser
										// 
								a(href="/post?id="+post.id)
									.card-img-caixa
										img.card-img.card-img-blur(src=post.photoData)
										img.card-img.card-img-front(src=post.photoData)
										// 
								.reactions-area
									.reaction-left-area
										if post.votetype==1
											form(method="POST" action="/removeVote")
												input(type="hidden" name="idPost" value=post.id)
												input(type="hidden" name="type" value=0)
												input(type="image" src="/img/icns/up-vote-full.png" style="width:25px; height: 24px;")
										else
											form(method="POST" action="/vote")
												input(type="hidden" name="idPost" value=post.id)
												input(type="hidden" name="type" value=1)
												input(type="image" src="/img/icns/up-vote.png" style="width:25px; height: 24px;")
										b #{post.nrlikes}
										if post.votetype==-1
											form(method="POST" action="/removeVote")
												input(type="hidden" name="idPost" value=post.id)
												input(type="hidden" name="type" value=0)
												input(type="image" src="/img/icns/down-vote-full.png" style="width:25px; height: 24px;")
										else
											form(method="POST" action="/vote")
												input(type="hidden" name="idPost" value=post.id)
												input(type="hidden" name="type" value=-1)
												input(type="image" src="/img/icns/down-vote.png" style="width:25px; height: 24px;")
										b #{post.nrdislikes}
									.reaction-right-area
										if post.saved==0
											form(method="POST" action="/save")
												input(type="hidden" name="idPost" value=post.id)
												input(type="image" src="/img/icns/save.svg" style="width:25px; height: 24px;")
										else
											form(method="POST" action="/unsave")
												input(type="hidden" name="idPost" value=post.id)
												input(type="image" src="/img/icns/save-full.svg" style="width:25px; height: 24px;")
										//
										form(method="POST" action="/buy")
											input(type="hidden" name="idPost" value=post.id)
											input(type="image" src="/img/icns/buy.svg" style="width:25px; height: 24px;")
								.description-area
									.card-op-area
										div(style='display: inline-flex;')
											h5(style='margin: 0px;') #{post.category} &rlm;&rlm;&lrm; &bull; &rlm;&rlm;&lrm; #{post.description}
										br
										p.details-post
											b #{post.brand} &rlm;&rlm;&lrm; &bull; &rlm;&rlm;&lrm; #{post.size} &rlm;&rlm;&lrm; &bull; &rlm;&rlm;&lrm; #{post.color}
									.card-options-area
										if post.isAvailable
											h4(style='color: rgb(74, 83, 252);')
												b #{post.price} €
								.comment-area
									.my-comment
										form(method="POST" action="/comment" style="width:100%")
											input(type="hidden" name="idPost" value=post.id)
											textarea.comment-input.form-control(placeholder='Escreve um comentário...' wrap='soft' name="commentData" required style='resize: none; overflow-y: scroll; height: 60px;')
											input(type="image" src="/img/icns/direct.svg" style="width:25px; height: 24px;position:relative;top:25%")
										// 
										// 
					.col-sm-2
						.card.card-download-app
							div(style='padding: 10px;')
								#carousel-2.carousel.slide.pointer-event(role='region' aria-busy='false'  style='text-shadow: rgb(51, 51, 51) 1px 1px 2px;')
									#carousel-2___BV_inner_.carousel-inner(role='list')
										#__BVID__32.carousel-item.active(role='listitem' aria-current='true' aria-posinset='1' aria-setsize='3' aria-hidden='false')
											img.img-fluid.w-100.d-block(src='img/banners/ambiente.png')
											.carousel-caption
												// 
												// 
										#__BVID__33.carousel-item(role='listitem' aria-current='false' aria-posinset='2' aria-setsize='3' aria-hidden='true')
											img.img-fluid.w-100.d-block(src='img/banners/dinheiro.png')
											.carousel-caption
												// 
												// 
										#__BVID__34.carousel-item(role='listitem' aria-current='false' aria-posinset='3' aria-setsize='3' aria-hidden='true')
											img.img-fluid.w-100.d-block(src='img/banners/wishlist.png')
											.carousel-caption
												// 
												// 
									a.carousel-control-prev(href='#' role='button' aria-controls='carousel-2___BV_inner_')
										span.carousel-control-prev-icon(aria-hidden='true')
										span.sr-only Previous Slide
									a.carousel-control-next(href='#' role='button' aria-controls='carousel-2___BV_inner_')
										span.carousel-control-next-icon(aria-hidden='true')
										span.sr-only Next Slide
									ol#carousel-2___BV_indicators_.carousel-indicators(aria-hidden='true' aria-label='Select a slide to display' aria-owns='carousel-2___BV_inner_' style='display: none;')
										li#carousel-2___BV_indicator_1_.active(role='button' tabindex='-1' aria-current='true' aria-label='Goto Slide 1' aria-controls='carousel-2___BV_inner_' aria-describedby='__BVID__32')
										li#carousel-2___BV_indicator_2_(role='button' tabindex='-1' aria-current='false' aria-label='Goto Slide 2' aria-controls='carousel-2___BV_inner_' aria-describedby='__BVID__33')
										li#carousel-2___BV_indicator_3_(role='button' tabindex='-1' aria-current='false' aria-label='Goto Slide 3' aria-controls='carousel-2___BV_inner_' aria-describedby='__BVID__34')
								a.btn.btn-primary.btn-download(href='')
									b Download app
					#navigation.col-sm-8(style="text-align:center;margin-top:30px")
						if prevPage !== -1
							a(href="/?page="+prevPage)
								img#prevPage(src="./img/icns/wanna-anterior.png" style="width:20%")
						if nextPage !== -1
							a(href="/?page="+nextPage)
								img#nextPage(src="./img/icns/wanna-proxima.png" style="width:20%")
		script(src="/javascripts/jquery-3.4.1.min.js")
		script.
			$("#prevPage").hover(function(e){
				$(this).attr("src","./img/icns/wanna-anterior-hover.png");
			});
			$("#prevPage").mouseout(function(e){
				$(this).attr("src","./img/icns/wanna-anterior.png");
			});
			$("#nextPage").hover(function(e){
				$(this).attr("src","./img/icns/wanna-proxima-hover.png");
			});
			$("#nextPage").mouseout(function(e){
				$(this).attr("src","./img/icns/wanna-proxima.png");
			});
		include footer.pug