doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		h1=title
		form(method="POST" action="/makeRegister")
			label First Name
			input(type="text" placeholder="Enter First Name" name="firstName" required value=registerData.firstName)
			br
			label Last Name
			input(type="text" placeholder="Enter Last Name" name="lastName" required value=registerData.lastName)
			br
			label Username
			input(type="text" placeholder="Enter Username" name="username" required value=registerData.username)
			br
			label Location
			input(type="text" placeholder="Enter Location" name="location" required value=registerData.location)
			br
			label Email
			input(type="email" placeholder="Enter Email" name="email" required value=registerData.email)
			br
			label Password
			input(type="password" placeholder="Enter Password" name="password" required)
			br
			input.w3-button(type="submit" value="Register")